<div class="wrapper">
  <div class="shozoku">
    <h4>所属しているチーム</h4>
    <ul>
      <% @teams.each do |team| %>
        <li><%= link_to team.name, team_path(team)%></li>
      <% end %>
      <% @myteams.each do |myteam| %>
        <li><%= link_to myteam.name, team_path(myteam) %>
      <% end %>
    </ul>
  </div>
  <div class="sakusei">
    <ul>
      <h4>作成したチーム</h4>
      <% @myteams.each do |myteam| %>
        <li><%= link_to myteam.name, team_path(myteam) %>
        <%= link_to '削除', team_path(myteam), class:"btn btn-warning", method: :delete, data: {confirm: '本当に削除しますか?'} %></li>
      <% end %>
    </ul>
  </div>
</div>
<br>
<%= link_to 'チーム作成', new_team_path, class:"btn btn-info" %>
<br>
<br>
<%= link_to "back", user_path(current_user) %>