<%= form_with(model:@team, local:true) do |form| %>
  <div class="team_name">
    <%= form.label :チーム名 %>
    <%= form.text_area :name,class:"form-control" %>
  </div>

  <%= form.submit '作成する', class:"btn btn-info" %>

<% end %>
<br>
<%= link_to 'Back', :back %>