<h1>チームページ</h1>
<p>
<strong>チーム名:</strong>
<%= @team.name %>
</p>

<%= link_to 'ソング一覧', team_song_path(@team) %><br>
<%= link_to 'ソングスペース作成', new_team_song_path(team_id: @team) %><br>
<%= link_to 'Back', :back %><br>

<%= form_with(model: Assign.new, url:team_assigns_path(@team), local: true) do |f| %>
  <div class="input-group">
    <%= f.email_field :email, placeholder: "emailアドレス" %>
    <div class="input-group-append">
      <%= f.submit "チーム招待" %>
    </div>
  </div>
<% end %>

<% @assign.each do |assign| %>
 
    <tr>
      <td>メンバーemail:<%= assign.user.email %></td><br>
    </tr>
  
<% end %>
