<h2>チームページ</h2>
<p>
<strong>チーム名:</strong>
<%= @team.name %>
</p>
<p>
<strong>リーダー名:</strong>
<%= @team.owner_id %>
</p>


<%= form_with(model: Assign.new, url:team_assigns_path(@team), local: true) do |f| %>
  <div class="input-group">
    <%= f.email_field :email, placeholder: "emailアドレス" %>
    <div class="input-group-append">
      <%= f.submit "メンバー招待", class:"btn btn-dark" %>
    </div>
  </div>
<% end %>

<% @assign.each do |assign| %>
 
    <tr>
      <td>メンバーemail:<%= assign.user.email %></td><br>
    </tr>
  
<% end %>
--------------------------
<h3>ソング一覧</h3>
<% @songs.each do |song| %>
  <tr>
    <td><%= song.title %></td>
    <%= link_to '詳細', team_song_path(@team,song) %>
    <%= link_to '削除', team_song_path(@team,song), method: :delete, data: {confirm: '本当に削除しますか?'} %></td><br>
  </tr>
<% end %>
<%= link_to 'ソングスペース作成', new_team_song_path(@team) %><br>
<%= link_to 'Back', :back %><br>