<%= form_with(model:@song, local:true) do |form| %>

  <div class="song_title">
    <%= form.label :ソングプロジェクト名 %>
    <%= form.text_area :title %>
  </div>

  <%= form.hidden_field :team_id, :value => params[:team_id] %>


  <%= form.submit '作成する' %>

<% end %>