<!DOCTYPE html>
<html>
  <head>
    <title>OriginalApp1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header class="header clearfix">
  <nav>
    <ul class="top_menu clearfix">
      <a>iDea_studio</a>
    </ul>
  </nav>
  </header>

  <body>
  <% if user_signed_in? %>
      <%= link_to "コメント投稿", comments_path %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "新規登録", new_user_registration_path %>
      <%= link_to "ログイン", new_user_session_path %>
    <% end %>
    <%= yield %>
  </body>
  <footer class="footer">
     <!-- 追記 -->
  <p>2022 idea_studio.</p>
    </footer>
</html>

<style>

body{
  background-color: #f08e16e6;
}